<div class="card" style="width: 18rem">
  <img [src]="frame.image" class="card-img-top" alt="frame.name" />
  <div class="card-body">
    <h5 class="card-title">{{ frame.id }}. {{ frame.name }}</h5>
    <p>ku {{ frame.name.toLowerCase() }} {{ cardCode }}</p>
    <div #container></div>
    <button
      class="btn btn btn-primary"
      ngxClipboard
      [cbContent]="'ku ' + frame.name.toLowerCase() + ' ' + cardCode"
      [container]="container"
      (click)="copyClicked()"
    >
      Copy Command
    </button>
  </div>
</div>
