<div class="container">
  <span>⛽: {{ data.gas }}</span
  ><mat-progress-bar value="{{ data.gas }}"></mat-progress-bar>
  <span>🍔: {{ data.food }}</span
  ><mat-progress-bar value="{{ data.food }}"></mat-progress-bar>
  <span>🥃: {{ data.drink }}</span
  ><mat-progress-bar value="{{ data.drink }}"></mat-progress-bar>
  <span>😃: {{ data.entertainment }}</span
  ><mat-progress-bar value="{{ data.entertainment }}"></mat-progress-bar>
  <span>⌛: {{ data.time }}</span
  ><mat-progress-bar value="{{ data.time }}"></mat-progress-bar>
</div>
