<div class="center">
  <div class="btn-group-vertical">
    <div class="btn-group">
      <button class="btn btn-primary" (click)="service.movementEvent()">
        Up
      </button>
    </div>
    <div class="btn-group">
      <button class="btn btn-primary" (click)="service.movementEvent()">
        Left
      </button>
      <button class="btn btn-primary" (click)="service.movementEvent()">
        Down
      </button>
      <button class="btn btn-primary" (click)="service.movementEvent()">
        Right
      </button>
    </div>
  </div>
</div>

<br />
<br />

<div class="center">
  <div class="btn-group">
    <button class="btn btn-success" (click)="onChange(100, -4, -6, -8, -4)">
      ⛽
    </button>
    <button class="btn btn-success" (click)="onChange(0, -4, -6, 100, -4)">
      🌼
    </button>
    <button class="btn btn-success" (click)="onChange(0, -15, -10, 100, -4)">
      💃
    </button>
    <button class="btn btn-success" (click)="onChange(0, -4, 60, -8, -4)">
      ☕
    </button>
    <button class="btn btn-success" (click)="onChange(0, -4, 60, -8, -4)">
      🧃
    </button>
    <button class="btn btn-success" (click)="onChange(0, -4, -6, 60, -4)">
      🎭
    </button>
    <button class="btn btn-success" (click)="onChange(0, 60, -6, -8, -4)">
      🍝
    </button>
    <button class="btn btn-success" (click)="onChange(0, 60, -6, -8, -4)">
      🌮
    </button>
    <button class="btn btn-success" (click)="onChange(0, -4, 40, 40, -4)">
      🍸
    </button>
    <button class="btn btn-success" (click)="onChange(0, 20, 20, 40, -4)">
      🎡
    </button>
    <button class="btn btn-success" (click)="onChange(0, 40, 20, -8, -4)">
      🥪
    </button>
  </div>
</div>
